<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhj.mybatis.dao.StudentMapper">

	<select id="queryAllStudent" parameterType="java.lang.Integer" resultType="Student">
		SELECT * from student where 1=1
		<if test="id != null">
			AND id = #{id}
		</if>

	</select>

	<insert id="insertStudent" parameterType="Student">

		INSERT INTO student (studentname, studentnumber) VALUES (#{studentName}, #{studentNumber});

	</insert>

</mapper>